@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProjektTNAI_BlazorApp</a>
        <button title="Navigation menu" class="navbar-toggler" onclick="ToggleNavMenu()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="NavMenu" onclick="ToggleNavMenu()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="" aria-hidden="true">
                <span class="oi bi-calendar" aria-hidden="true"></span> Home
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/categories">
                <span class="oi bi-box-seam" aria-hidden="true"></span> Categories
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/activities">
                <span class="oi oi-timer" aria-hidden="true"></span> Activities
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="Identity/Account/LogOut">
                <span class="oi bi-box-arrow-right" aria-hidden="true"></span> Log out
            </a>
        </div>
    </nav>
</div>

<script>
    var collapseNavMenu = true;

    function ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
        var navMenu = document.querySelector('.nav-menu');
        if (collapseNavMenu) {
            navMenu.classList.add('collapse');
        } else {
            navMenu.classList.remove('collapse');
        }
    }
</script>
