@page
@model Rezerwacje.Areas.Identity.Pages.RezerwacjeModel
@{
}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        #date-container
        {
            position: relative;
            display: flex;
            height: 40px;
            width: 400px;
            border: 1px solid darkgrey;
        }

        #daty
        {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0;
            font-size: 24px;
            text-align: center;
        }

        .arrow {
            position: absolute;
            transform: translateY(-50%);
            font-size: 20px;
            padding: 5px;
            cursor: pointer;
        }

        .arrow_left {
            left: 5px;
            top: 45%;
        }

        .arrow_right {
            right: 5px;
            top: 45%;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 1px; /* Gap between grid items to create borders */
            background-color: white;
            border: 1px solid black;
            padding: 5px;
        }

        .day-name, .column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            padding: 10px;
            font-weight: bold;
        }

        .column {
            grid-column: span 1; /* Each column spans a single column */
            grid-row: 2; /* Placed in the second row */
            height: 500px;
            display: flex;
            flex-direction: column;
        }

        .booking
        {
            position: relative;
            margin: 5px;
            padding: 10px;
            border: 1px solid #ccc;
            height: 60px;
        }

        .booking:hover {
            z-index: 2; /* Większy z-index po najechaniu */
            height: 140px; /* Większa wysokość po najechaniu */
        }

        .booking:hover .tooltip-text {
            display: block; /* Wyświetl niewidzialny tekst po najechaniu */
        }

        .tooltip-text {
            display: none;
        }

        #opis
        {
            width: 250px;
        }

        #start, #end
        {
            width: 175px;
        }

        #result
        {
            color: red;
        }

    </style>
</head>
<body>
    <div id="date-container">
        <div id="daty"></div>
        <div id="arrow_left" class="arrow arrow_left">&#9001;</div>
        <div id="arrow_right" class="arrow arrow_right">&#9002;</div>
    </div>

    <div class="grid-container">
        <div class="day-name">Niedziela</div>
        <div class="day-name">Poniedziałek</div>
        <div class="day-name">Wtorek</div>
        <div class="day-name">Środa</div>
        <div class="day-name">Czwartek</div>
        <div class="day-name">Piątek</div>
        <div class="day-name">Sobota</div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
    </div>

    <button class="showButton" onclick="showUserBookingForm()">Dodaj rezerwację</button>

    <form id="userBookingForm" method="post" style="display: none;">
        <div class="form-group" id="opis">
            <label for="opcje">Typ rezerwacji</label>
            <select class="form-control" id="opcje"></select>
        </div>
        <div class="form-group" id="opis">
            <label for="description">Opis</label>
            <textarea class="form-control" id="description"></textarea>
        </div>
        <div class="form-group" id="start">
            <label for="beginOfBooking">Początek</label>
            <input type="datetime-local" class="form-control" id="beginOfBooking" />
        </div>
        <div class="form-group" id="end">
            <label for="endOfBooking">Koniec</label>
            <input type="datetime-local" class="form-control" id="endOfBooking" />
        </div>

        <button type="button" class="saveButton" onclick="saveUserBooking()">Utwórz</button>
        <p id="result"></p>
    </form>



    <script>
        let bookings;
        document.addEventListener("DOMContentLoaded", async (event) => {
            userBookings = await getAllUserBookings();
            bookings = await fetchAllBookings();
            console.log(bookings);
            fillSelect(bookings);
            loggedUser = await userData();
            startDate = getStartOfWeek(date_today, startDayOfWeek);
            endDate = new Date(startDate);
            endDate.setDate(startDate.getDate() + 6);

            loadCurrentWeek(startDate, endDate, date_today);
            addUserBookings(startDate, endDate);
        });

        function fillSelect(bookings)
        {
            const selectElement = document.getElementById('opcje');

            bookings.forEach(function (item) {
                var option = document.createElement('option');
                option.value = item.id;
                option.text = item.name;
                selectElement.appendChild(option);
            });
        }

        document.getElementById("arrow_left").addEventListener("click", function () {
            date_today.setDate(date_today.getDate() - 7);
            updateWeekDates(date_today, startDayOfWeek);
            clearCalendar();
            addUserBookings(startDate, endDate);
            updateDisplayedDates();
        });

        document.getElementById("arrow_right").addEventListener("click", function () {
            date_today.setDate(date_today.getDate() + 7);
            updateWeekDates(date_today, startDayOfWeek);
            clearCalendar();
            addUserBookings(startDate, endDate);
            updateDisplayedDates();
        });

    </script>
</body>
</html>

